
body{
  font-family: "Inter", sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    background-color: #FFFFFF;
}
#logo{
    width: 200px;
    height: 40px;
}
#nav{
    list-style-type: none;
    display:flex ;
    flex-wrap: wrap;
}
#nav li a{
    margin: 10px;
    color: #0A1222;
    text-decoration: none;
}
#button{
    background-color: #034BFF;
    margin: auto 30px;
    padding: 4px 40px;
    top: 12px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    

}
#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 100%;
    background-color: #08111D;
}
#hero div{
    background-color: #08111D;
    width: 35%;
    color: #FFFFFF;
    font-family: sans-serif;
}
#hero div h1{
    font-size: 80px;
    font-weight:900;
    margin-top: 70px;
    margin-bottom: 0px;
}
#hero img{
    width: 60%;
}
#hero div #button1{
    width: 184px;
    height: 42px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #034BFF;
}
#hero div #button2{
    color: #FFFFFF;
    border: #8EABFF 2px solid;
    width: 176px;
    height: 42px;
    border-radius: 5px;
    margin-left: 8px;
    background-color: #08111d00;
}
#hero div div{
    width: 100%;
    display: flex;
    justify-content: start;
}
#hero div div div h5{
    padding: 10px;
    border-radius: 50%;
    color: #0A1222;
}
#hero div div div{
    width: 40%;
}
#hero div div p{
    font-size: small;
    margin-top: 24px;
    width: 40%;
}
#statistiques {
    display: flex;
    width: 94%;
    margin: auto;
    
}
.article{
    display: flex;
    
}
.article h1{
    margin: auto 30px;
    color: #034BFF;

}
#statistiques hr{
    height: 50px;
    margin: auto;
}
.article div h2{
    font-family: sans-serif;
    font-weight: 900;
}


